# Useless directories
.cache/
.config/chromium/
.config/cmus/
.config/discocss/
.config/discord/
.config/dconf/
.config/gtk-3.0/
.config/htop/
.config/light/
.config/mpd/
.config/mpv/
.config/pulse/
.config/systemd/
.config/Thunar/
.config/xfce4/
.config/yay/
.gnupg/
.local/
.lyrics/
.pki/
.ssh/
.vim/
android-mtp/
Books/
Downloads/
dwm/
Music/
Pictures/Screenshots/
projects/
Videos/

# Useless files
.bash_history
.bash_logout
.bash_profile
.dmrc
.fehbg
.lesshst
.viminfo
.Xauthority
dwm_xinit
gruvlight.xresource
